
:root {
    --primary-color: rgb(39, 39, 39);
    --gray-color-01: rgb(141, 141, 141);
    --secondary-color: white;

    --primary-bg: #fafafa;
    --secondary-bg: white;
    --gray-bg-01: #e7e7e7;
    --inner-gray-bg: #eeeeee;

    /* action / button colors */
    --action-green: rgb(9, 194, 9);
    --action-blue: #007bff;
    --action-red: #c7220c;

    --border-color: rgb(189, 189, 189);
    --border-invis: rgb(214, 214, 214);

}


html {
    font-size: 16px; /* base size */
    overflow-y: scroll;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    box-sizing: border-box;
}



/* remove default margin/padding for consistency */
body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    /* color: rgb(22, 22, 22);
    color: rgb(39, 39, 39); */
}

header{
    height: 5rem;
    background-color: rgb(56, 56, 235);
    display: flex;
    align-items: center;
    padding: 1rem;
    opacity: 0.9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#header-title {
    color: white;
}


body{
    background-color: var(--primary-bg);
}

main{
    margin: 50px 100px 100px 100px;
    /* border-radius: 10px; */
    box-shadow: 0 5px 5px rgba(75, 75, 75, 0.404);
}

/* tabs */

#app-tabs {
    border-radius: 5px;
    background-color: var(--secondary-bg);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); */
    /* padding: 1rem; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.tab-container{
    display: flex;
    justify-content: center;
    font-size: 1rem;
    padding: 1rem;
    /* width: 100px; */
    border-bottom: 2px solid transparent;
}

.tab-container:hover {
    cursor: pointer;
    /* background-color: #007bff; */
    background-color: var(--inner-gray-bg);
    /* color: rgb(245, 245, 245); */
    border-bottom: 2px solid rgb(40, 83, 40);
}

.active-tab {
    border-bottom: 2px solid rgb(40, 83, 40);
    /* background-color: #cccccc; */
}



/* ---------------------------- */
/* main page  */

/* ---- */


#main-page-container {
    border-radius: 5px;
    background-color: var(--secondary-bg);
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12); */

}

#main-action-bar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    /* width: 50%; */
    gap: 1rem;
}

#main-page-top-bar {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: center; */
}

/* baseline and file compare section */

.file-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* optional */
}

.baseline-container {
    padding: 0.5rem 0rem;
}

.baseline-data-container {
    margin: 0.5rem 0rem;
}

.download-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; /* optional */
}

.download-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 1.5rem 0rem 0.5rem 0rem; */
}



/* report small gray text */
.report-data-card {
    color: var(--gray-color-01);
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid rgb(216, 216, 216);
    padding: 0.5rem;
    border-radius: 5px;
    width: fit-content;
}


/* ----------------------- */
/* Settings page */

#settings-page-wrapper {
    border-radius: 5px;
    background-color: var(--secondary-bg);
}

.template-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0rem 0.5rem 0rem;
}

.template-section-header-no-margin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 0rem 0.5rem 0rem;
}


.template-list-container {
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--inner-gray-bg);
    border-radius: 5px;
    border: 1px solid var(--border-invis);
}

.general-settings-input-block {
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--secondary-bg);
}

.general-settings-sub-header{
    font-size: 1.125rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.general-settings-sub-header-no-margin {
    font-size: 1.125rem;
    color: var(--primary-color);
}

.settings-input-header{
    color: var(--primary-color);
    /* color: #8f8f8f; */
    /* margin-bottom: 0.5rem; */
}




/* --------------- */
/* file inputs and buttons */

.input-tag {
    display: none; /* hide the default file input */
}

.button-01 {
    color: var(--secondary-color);
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid transparent;
}

.button-icon-02 {
    padding: 2px 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--primary-bg);
    border: 1px solid var(--action-green);
    color: var(--action-green);
}

.button-icon-02:hover {
    background-color: var(--action-green);
    border: 1px solid var(--primary-bg);
    color: var(--primary-bg);
}

.rev-button-01 {
    background-color: var(--primary-bg);
    border: 1px solid var(--action-blue);
    border-radius: 4px;
    color: var(--action-blue);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.rev-button-01:hover{
    background-color: var(--action-blue);
    border: 1px solid var(--primary-bg);
    color: var(--primary-bg);
}


/* delete button */
.rev-delete-button {
    background-color: rgb(245, 245, 245);
    border: 1px solid var(--action-red);
    border-radius: 4px;
    color: var(--action-red);
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
}

.rev-delete-button:hover{
    background-color: #c7220c;;
    border: 1px solid var(--primary-bg);
    color: var(--primary-bg);
}

/* settings confirm changes button */
.confirm-settings-grayed-unclickable {
    background-color: rgb(207, 207, 207);
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    color: #8f8f8f;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    /* remove clickability */
    pointer-events: none;
    opacity: 0.75; /* optional */
}


/* rename button */



.green-button {
    background-color:  var(--action-green);
}

.blue-button {
    background-color: var(--action-blue);
}

.red-button{
    background-color: var(--action-red);
}

.blue-button:hover {
    background-color: #0056b3;
}

.green-button:hover {
    background-color:  rgb(8, 167, 8);
}


/* re useables */

.text-gray{
    color: rgb(129, 129, 129);
}

.sub-header{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: var(--primary-color);
}

.sub-header-no-pad{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.border-01 {
    border: 1px solid var(--border-color);
}

.border-invis {
    border: 1px solid var(--border-invis);
}

.container-layout-01 {
    padding: 1rem;
}

/* for baseline / compare reports file input row... */
.file-input-container {
    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.basic-margin-top {
    margin-top: 1rem;
}

.bot-border {
    border-bottom: 1px solid var(--border-color);
}

.row{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}


/* compare report  */
.compare-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.full-width {
    width: 100%;
}

/* .secondary-gray-bg{
    background-color: #dddddd;
} */




/* --------------------------- */
/* form things */
/* .form-field {
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-top: 0.5rem;
} */

.form-field-2 {
    padding: 0.5rem;
    border: none;
    outline: var(--border-color);
    border: 1px solid var(--border-invis);
    border-radius: 5px;
    margin-top: 0.25rem;
    background-color: var(--inner-gray-bg);
}

input:focus {
    border: 1px solid var(--border-color);
}

.form-field-add-student {
    color: var(--primary-color);
    padding: 0.5rem;
    border: none;
    outline: var(--border-color);
    border: 1px solid var(--border-invis);
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: var(--inner-gray-bg);
    width: 100%;
}

.form-field-add-student::placeholder {
    color: var(--primary-color);
    opacity: 1; /* some browsers lower opacity by default */
}

/* .form-field-add-student:focus {
    border: 1px solid var(--border-color);
} */

.form-field-no-marg {
    padding: 0.5rem;
    border: none;
    outline: none;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    /* margin-top: 0.5rem; */
    background-color: var(--secondary-bg);
}


/* dropdown */
#manual-add-drop {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

#manual-add-drop:hover {
    background-color: var(--inner-gray-bg);
}

/* #manual-add-form{
    
    
} */


/* use class, so dropdown can manipulate '#manual-add-form' instead */
.manual-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    border: 1px solid var(--border-color);
    background-color: var(--secondary-bg);
    
}

.manual-form-wrapper {
    padding: 1rem 0rem;
    /* border: 1px solid rgb(189, 189, 189); */

}
.form-group{
    width: 100%;
}
.form-field {
    width: 100%;
}



/* off - util stuff */
/* ---------------------------------------------- */

/* styles for the icons / svgs */
.svg-white {
    color: var(--secondary-color)
}
.svg-gray {
    color: var(--primary-color)
}
.svg-light-gray{
    color: rgb(167, 167, 167);
}
.svg-green {
    color: var(--action-green);
}
.svg-red {
    color: var(--action-red);
}

/* #add-file {
    padding: 0.5rem; 
} */



/* utility */

.subtle-shadow-cards {
    box-shadow: 0 5px 7px rgba(168, 168, 168, 0.37);
}

.subtle-shadow-inner-cards {
    box-shadow: 3px 5px 5px rgba(170, 170, 170, 0.205);
}

.invis-shadow-card {
    box-shadow: 1px 5px 5px rgba(104, 104, 104, 0.205);
}

.gray-card-shadow {
    box-shadow: 1px 3px 3px rgba(223, 223, 223, 0.205);

}

.hidden-c {
    display: none;
}


/* pop up window for deletions and such */
#pop-up-window{
    position: absolute;
    
    z-index: 901;
}

.pop-up-window-styles{
    display: grid;
    grid-template-rows: auto 1fr auto; 
    gap: 16px;                          
    inset: 0;
    margin: auto;
    padding: 24px;
    border-radius: 12px;
    width: 400px;
    max-width: 90%;
    height: 200px;   /* must set height */
    background-color: #f1f1f1;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
    box-shadow: 0 25px 60px rgba(0, 0, 0, 0.22),
                0 8px 22px rgba(255, 255, 255, 0.15) inset;
}

.popup-body{
    text-align: center;
    font-size: 1.5rem;
    /* font-weight: 600; */
}

.popup-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
}

#glass-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.15);
    opacity: 0;
    pointer-events: none; /* Don't block clicks when hidden */
    transition: opacity 0.3s ease;
    z-index: 900; /* Below popup but above content */
    opacity: 1;
    pointer-events: auto;
}


/* Error display bar styles */
.error-bar-styles {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--action-red);
    background-color: #ffeeee;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    padding: 8px 16px;
    transition: 0.5s;
}

.success-bar-styles {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--action-green);
    background-color: #7eff87;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;
    padding: 8px 16px;
    transition: 0.5s;
}

.normal-bolded-text {
    font-size: 1rem;
    font-weight: 500;
    color: #424242;
}

/* #display-error-cancel {
    border-radius: 5px;
    border: none;
    background-color: #ffeeee;
}

#display-error-cancel:hover{
    background-color: #fdbaba;
    background-color: #d6d6d6;
    cursor: pointer;
} */


#process-baseline-info-icon {
   position: relative;
}
#process-baseline-info-icon:hover {
    cursor: pointer;
}


#process-against-info-icon {
   position: relative;
}
#process-against-info-icon:hover {
    cursor: pointer;
}

#settings-page-info-icon{
    position: relative;
}
#settings-page-info-icon:hover {
    cursor: pointer;
}

/* color: rgb(39, 39, 39); */




/* animations */
#loading-icon-bar {
    height: 30px;
    color: #424242;
    width: 1px;
    background-color: var(--gray-bg-01);
}

#process-running-icon {
    font-size: 2rem;
    display: inline-block;
}

/* Create a simple rotation animation */
@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.loading-animation {
    animation: spin 2s linear infinite;
}




/*  */

/* 1920px - width on my smaller screen */
/* 2560px - width on my larger monitor */

@media (min-width: 400px) {
    main {
        margin: 50px 10px 50px 10px;
    }
}

@media (min-width: 1250px) {
    main {
        margin: 50px 100px 50px 100px;
    }
}

@media (min-width: 1750px) {
    main {
        margin: 50px 300px 100px 300px;
    }
}




/* For screens larger than 1200px (like large desktops) */
@media (min-width: 2000px) {
    main {
        margin: 50px 300px 100px 300px;
    }
}

/* larger than */
@media (min-width: 2500px) {
    main {
        margin: 50px 500px 100px 500px;
    }
}

